In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Punta Arenas,-53.1500,-70.9167,35.71,64,75,47.18,CL,2022-07-20 05:44:53
1,1,Port Elizabeth,-33.9180,25.5701,53.89,96,20,9.22,ZA,2022-07-20 05:44:54
2,2,Bredasdorp,-34.5322,20.0403,46.85,79,61,1.79,ZA,2022-07-20 05:44:54
3,3,Naze,28.3667,129.4833,85.12,77,97,17.18,JP,2022-07-20 05:44:55
4,4,Atuona,-9.8000,-139.0333,77.27,76,57,13.58,PF,2022-07-20 05:44:55

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Naze,28.3667,129.4833,85.12,77,97,17.18,JP,2022-07-20 05:44:55
4,4,Atuona,-9.8000,-139.0333,77.27,76,57,13.58,PF,2022-07-20 05:44:55
5,5,Kavieng,-2.5744,150.7967,83.25,72,100,6.82,PG,2022-07-20 05:44:56
9,9,Springdale,36.1867,-94.1288,84.97,61,0,0.00,US,2022-07-20 05:44:57
12,12,Taksimo,56.3444,114.8794,80.08,55,58,4.18,RU,2022-07-20 05:44:06
14,14,Hilo,19.7297,-155.0900,76.73,81,0,3.44,US,2022-07-20 05:43:10
17,17,Kununurra,-15.7667,128.7333,89.58,25,11,9.22,AU,2022-07-20 05:42:22
35,35,Tessalit,20.1986,1.0114,84.11,43,86,10.98,ML,2022-07-20 05:45:08
38,38,Makakilo City,21.3469,-158.0858,79.12,63,0,11.50,US,2022-07-20 05:45:09
41,41,Hambantota,6.1241,81.1185,88.14,70,40,4.61,LK,2022-07-20 05:45:11

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3            Naze      JP     85.12  28.3667  129.4833
4          Atuona      PF     77.27  -9.8000 -139.0333
5         Kavieng      PG     83.25  -2.5744  150.7967
9      Springdale      US     84.97  36.1867  -94.1288
12        Taksimo      RU     80.08  56.3444  114.8794
14           Hilo      US     76.73  19.7297 -155.0900
17      Kununurra      AU     89.58 -15.7667  128.7333
35       Tessalit      ML     84.11  20.1986    1.0114
38  Makakilo City      US     79.12  21.3469 -158.0858
41     Hambantota      LK     88.14   6.1241   81.1185

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Naze,JP,85.12,28.3667,129.4833,Shishime Hotel
4,Atuona,PF,77.27,-9.8000,-139.0333,Villa Enata
5,Kavieng,PG,83.25,-2.5744,150.7967,Nusa Island Retreat
9,Springdale,US,84.97,36.1867,-94.1288,Springdale Inn
12,Taksimo,RU,80.08,56.3444,114.8794,"Gostinitsa ""Domashniy Ochag"""
14,Hilo,US,76.73,19.7297,-155.0900,Hilo Hawaiian Hotel
17,Kununurra,AU,89.58,-15.7667,128.7333,Hotel Kununurra
35,Tessalit,ML,84.11,20.1986,1.0114,
38,Makakilo City,US,79.12,21.3469,-158.0858,Marriott's Ko Olina Beach Club
41,Hambantota,LK,88.14,6.1241,81.1185,Bungalow 63

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))